input[type="text"] {
    align-content: center;
    display: block;
    color: #4fb0ae;
    width: 100%;
    border-style: dotted;
    font-family: Source Sans Pro, sans-serif;
    font-size: 24px;
    line-height: 36px;
    padding: 3px;
}

input[type="text"]:focus {
    border-style: inset;
    color: crimson;
}

input[type="checkbox"] {
    display: none;
}

input[type="radio"] {
    display: none;
}

.checked {
    color: crimson;
}

.unchecked {
    color: #4fb0ae;
}

.footer {
    background-color: #37404a;
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
}

progress {
    background-color: #37404a;
    float: right;
    width: 350px;
    appearance: none;
    height: 24px;
    margin-right: 50px;
}

progress::-webkit-progress-bar {
    background-color: #37404a;
}
progress::-webkit-progress-value {
    background-color: #4fb0ae;
}
