input[type="text"] {
    align-content: center;
    display: block;
    color: #4fb0ae;
    width: 100%;
    border-style: dotted;
    font-family: Source Sans Pro, sans-serif;
    font-size: 24px;
    line-height: 36px;
    padding: 3px;
}

input[type="text"]:focus {
    border-style: inset;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
}

