input[type="text"] {
    font-size: 18px;
    font-family: Cantarell;
}

h1 {
    font-family: Cantarell;
}

label {
    font-family: Cantarell;
    font-size: 18px;
}

.button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 12px 96px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}