<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inquirer</title>

    <!--css-->
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/question.css">
    <link rel="stylesheet" href="css/input.css">
    <link rel="stylesheet" href="css/label.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/state.css">
    <link rel="stylesheet" href="css/footer.css">

    <!--js-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="js/jquery.inquirer.js"></script>
    <script src="js/init.js"></script>

</head>
<body>
<div id="add" class="main"></div>
</body>
</html>
